{% extends "base.html" %}
{% load humanize %}

{% block content %}
  <div class="row">
    <div class="col">
      <h4>Accounts <a href="{% url 'account:account-create' %}"> + </a></h4>
    </div>
    <div class="col total-income">

      {% if user.is_authenticated %}

        {% if total_accounts_balance is not None %}
          {% if total_accounts_balance <= 0 %}
            <span class="balance-negative">
            {{ total_accounts_balance|floatformat:2|intcomma }} {{ currency.code }}
          </span>
          {% else %}
            <span class="balance-positive">
            + {{ total_accounts_balance|floatformat:2|intcomma }} {{ currency.code }}
          </span>
          {% endif %}
        {% else %}
          0.00
        {% endif %}
        </div>
        
      {% endif %}
  </div>


  <table class="table table-hover">
    <thead class="table-active">
    <tr>
      <th>Account</th>
      <th>Amount</th>
      <th>Conversion rate</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>

    {% if user.is_authenticated %}
      {% for account in account_list %}
        <tr>
          <td>{{ account.account_type }}</td>
          <td>
            <span class="original-account-balance">{{ account.balance }} {{ account.currency }}</span>
            {% if currency.main_currency != account.currency %}
              <p class="converted-operation">{{ account.converted_balance }} {{ currency.code }}</p>
            {% endif %}
          </td>
          <td>{{ account.conversion_rate }}</td>
          <td><a href="">UPDATE</a></td>
          <td><a href="{% url 'account:account-delete' account.id %}">DELETE</a></td>

        </tr>

      {% empty %}
        <p>No accounts available.</p>
      {% endfor %}


    {% endif %}
    </tbody>
  </table>
{% endblock %}