{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col">
      <h4>Accounts <a href="{% url 'account:account-create' %}"> + </a></h4>
    </div>
    <div class="col total-income">
      {% if total_accounts_balance is not None %}
        {% if total_accounts_balance <= 0 %}
          <span class="balance-negative">
            {{ total_accounts_balance|floatformat:2 }} {{ currency }}
          </span>
        {% else %}
          <span class="balance-positive">
            + {{ total_accounts_balance|floatformat:2 }} {{ currency }}
          </span>
        {% endif %}
      {% else %}
        0.00
      {% endif %}
    </div>
  </div>


  <table class="table table-hover">
    <thead class="table-active">
    <tr>
      <th>Account type</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>

    {% for account in account_list %}
      <tr>
        <td>{{ account.account_type }}</td>
        <td>{{ account.balance }} {{ account.currency }}</td>
      </tr>
    {% endfor %}

    </tbody>
  </table>
{% endblock %}