{% extends "base.html" %}
{% load humanize %}

{% block content %}
  <div class="row">
    <div class="col">
      <h4>Income<a href="{% url 'transaction:income-create' %}"> + </a></h4>
    </div>
    <div class="col total-income">
      {% if total_income_sum is not None %}
      + {{ total_income_sum|intcomma }}
      {% else %}
        0.00
      {% endif %}
    </div>
  </div>

  <table class="table table-hover">
    <thead class="table-active">
    <tr>
      <th>Date</th>
      <th>Category</th>
      <th>Description</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    {% for income in income_list %}
      <tr>
        <td>{{ income.date }}</td>
        <td>{{ income.category }}</td>
        <td>{{ income.description }}</td>
        <td>+{{ income.amount }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}