{% extends "base.html" %}
{% load humanize %}

{% block content %}
  <div class="row">
    <div class="col">
      <h4>Income<a href="{% url 'transaction:income-create' %}"> + </a></h4>
    </div>
    <div class="col total-income">
      {% if total_income_sum is not None %}
        + {{ total_income_sum|floatformat:2|intcomma }} {{ currency.main_currency }}
      {% else %}
        0.00
      {% endif %}
    </div>
  </div>

  <table class="table table-hover">
    <thead class="table-active">
    <tr>
      <th>Date</th>
      <th>Category</th>
      <th>Description</th>
      <th>Amount</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for income in income_list %}
      <tr>
        <td>{{ income.date }}</td>
        <td>{{ income.category }}</td>
        <td>{{ income.description }}</td>
        <td>
          <span class="original-operation">+{{ income.amount }} {{ income.account.currency }}</span>
          {% if currency.main_currency != income.account.currency %}
            <p class="converted-operation">+{{ income.converted_amount }} {{ currency.main_currency }}</p>
          {% endif %}
        </td>
        <td><a href="">UPDATE</a></td>
        <td><a href="{% url 'transaction:income-delete' income.id %}">DELETE</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}