{% extends "base.html" %}

{% block content %}
  <div class="row">
  <div class="col">
    
  </div>
   <div class="col currency">
        <span>
          Main currency: {{ currency }}
        </span>

    </div>
    <table class="table table-hover">
      <thead class="table-active">
      <tr>
        <th>Date</th>
        <th>Category</th>
        <th>Description</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      {% for transaction in transactions %}
        <tr>
          <td>{{ transaction.date }}</td>
          <td>{{ transaction.category }}</td>
          <td>{{ transaction.description }}</td>
          <td>
            {% if transaction.type == 'income' %}
              +{{ transaction.amount }} {{ transaction.account_currency }}
            {% else %}
              -{{ transaction.amount }} {{ transaction.account_currency }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
