{% extends "base.html" %}

{% block content %}
  <div class="row">
  <div class="col">
    <h4>Total balance:</h4>
  </div>
   <div class="col total-income">
      {% if balance <= 0 %}
        <span class="balance-negative">{{ balance|floatformat:2 }} 
          {{ currency }}
        </span>
      {% else %}
        <span class="balance-positive">+ {{ balance|floatformat:2 }} 
          {{ currency }}
        </span>
      {% endif %}

    </div>
    <table class="table table-hover">
      <thead class="table-active">
      <tr>
        <th>Date</th>
        <th>Category</th>
        <th>Description</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      {% for transaction in transactions %}
        <tr>
          <td>{{ transaction.date }}</td>
          <td>{{ transaction.category }}</td>
          <td>{{ transaction.description }}</td>
          <td> 
            {% if transaction.type == 'income' %}
              +{{ transaction.amount }} {{ transaction.account_currency }}
            {% else %}
              -{{ transaction.amount }} {{ transaction.account_currency }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
